/*Generics*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

container {
    margin: auto;
}

:root {
    --cards-color: #000000;
    --cards-text-color: #ffffff;
    --title-color: #e53170;
    --mail-link-color: #65c6e5;
}